# Python version: 3.6.13
setuptools==57.5.0 # deap dependency
deap == 1.2.2
matplotlib == 2.1.2
numpy == 1.16.0
pandas == 0.23.0
pathos == 0.2.2
scipy == 1.1.0
scikit-learn == 0.22
tqdm == 4.23.2
tslearn==0.1.27
nose2 == 0.8.0
terminaltables==3.1.0
